.privacy-page {
  background: linear-gradient(to bottom, #fff2d6, #f7b85a);
  min-height: 100vh;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

/* MAIN CARD */
.privacy-card {
  width: 90%;
  background: white;
  border: 2px solid #7a1c1c;
  border-radius: 8px;
  padding: 40px;
  margin: 40px auto;
}

/* HEADER */
.privacy-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.privacy-logo {
  width: 60px;
}

.privacy-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #7a1c1c;
}

/* SECTIONS */
.privacy-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #7a1c1c;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #5c2404;
}

/* CONTENT LISTS AND TEXT */
.privacy-section p,
.privacy-section li {
  font-size: 15px;
  color: #3b1a0a;
  line-height: 1.6;
}

.privacy-section ul {
  padding-left: 25px;
  margin-top: 8px;
}
