.security-page {
  background: linear-gradient(to bottom, #fff2d6, #f7b85a);
  min-height: 100vh;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

/* MAIN CARD */
.security-card {
  width: 90%;
  background: white;
  border: 2px solid #7a1c1c;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.security-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.security-title {
  font-size: 32px;
  font-weight: bold;
  color: #7a1c1c;
}

/* SECTIONS */
.security-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #7a1c1c;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #5c2404;
}

/* CONTENT LISTS AND TEXT */
.security-section p,
.security-section li {
  font-size: 15px;
  color: #3b1a0a;
  line-height: 1.6;
}

.security-section ul {
  padding-left: 25px;
  margin-top: 8px;
}

.safety-label {
  font-size: 14px;
  font-weight: bold;
  color: #b23131;
  margin-top: 10px;
}
