/* Header.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.brand {
  font-weight: bold;
  font-size: 20px;
  color: #a6192e;
}

.search {
  flex: 1;
  max-width: 25rem;
  position: relative;
}

.search input {
  width: 100%;
  border: 2px solid #b91c1c;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  outline: none;
  border-radius: 4px;
}

.search input:focus {
  outline: none;
  border-color: #ef4444;
}

.search button {
  position: absolute;
  right: 0.3%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fbbf24;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 10%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button:hover {
  background-color: #f59e0b;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.nav-links .nav-link {
  text-decoration: none; 
  color: #000000;     
  font-weight: 500;
}


.icon {
  font-size: 24px;
  cursor: pointer;
  color: #a6192e;
}

.username {
  font-weight: 500;
  color: #000;
}
.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}
