.cart-page {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #ffffff, #fcbf49);
  margin-top: 110px;
   min-height: 100vh;
}

/* CART SECTION */
.cart-content {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

.cart-title {
  font-size: 2rem;
  color: #3c1a03;
  margin-bottom: 1.5rem;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
}

.cart-items {
  flex: 1;
  min-width: 700px;
  min-height: 600px;
  max-height: 800px; 
  overflow-y: auto;  
  padding-right: 10px;
}

/* CART ITEM */
.cart-item {
  display: flex;
  align-items: flex-start;
  background: #fff;
  border: 2px solid #d65a00;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 10px;
  position: relative;
   min-width: 500px; 
}

.cart-item.selected {
  border-color: #fbb040;
  box-shadow: 0 0 5px #fbb040;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 10px;
}

.cart-item-info-wrapper {
  flex: 1;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 5px;
}

.quantity-wrapper button {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantity-wrapper input {
  width: 40px;
  height: 24px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0;
}

.seller-name {
  font-size: 0.9rem;
  color: #666;
}

.price {
  font-weight: bold;
  color: #3c1a03;
}

/* Right buttons */
.cart-item-actions-right {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.check-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.check-icon {
  color: #ccc;
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

.check-icon.active {
  color: green;
}

.remove-btn {
  margin-top: 30spx;
  margin-right: 10px;
  background: none;
  border: none;
  color: #9b3500;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

.remove-btn:hover {
  color: #d65a00;
  text-decoration: none;
}

/* ORDER SUMMARY */
.order-summary {
  width: 400px;
  background: #fff;
  border: 2px solid #d65a00;
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
     margin-left: auto;
}

.order-summary h3 {
  color: #3c1a03;
  margin-bottom: 1rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-item.total {
  font-weight: bold;
  border-top: 1px solid #d65a00;
  padding-top: 8px;
}

.checkout-btn {
  width: 100%;
  background: #fbb040;
  border: 2px solid #d65a00;
  color: #3c1a03;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #ffcf60;
}
