html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.orders-page {
  font-family: "Poppins", sans-serif;
  color: #5c2404;
  background: linear-gradient(to bottom, #ffffff, #fcbf49);
  min-height: 100vh;
  padding-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}



.orders-section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.orders-section h2 {
  margin-bottom: 15px;
  font-weight: 600;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.filter-btn {
  background: #fff;
  border: 2px solid #e48a00;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 2px solid #d65a00;
  border-radius: 10px;
  overflow: hidden;
}

.orders-table th {
  background-color: #fbb040;
  padding: 10px;
  text-align: left;
  color: #5c2404;
}

.orders-table td {
  padding: 10px;
  border-top: 1px solid #d65a00;
}

.orders-table tr:nth-child(even) {
  background-color: #fff9f0;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.sort-wrapper {
  position: relative;
  display: inline-block;
}

.sort-select {
  appearance: none;
  background: #fff;
  border: 2px solid #e48a00;
  border-radius: 6px;
  padding: 6px 32px 6px 12px;
  font-weight: 500;
  cursor: pointer;
  color: #5c2404;
  outline: none;
}

.sort-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #5c2404;
}
