/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Homepage */
.homepage {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

/* Banner */
.banner {
  margin: 0;
  padding: 20px;
  text-align: center;
  height: 180px;
  width: auto;
  background: linear-gradient(to bottom, #FFD86F, #FFB347);
}

.banner h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 45px 0;
  margin-top: 90px;
}

/* Slider */
.slider {
  position: relative;
  max-width: 100%;
  height: 700px;
  margin: 0;          
  overflow: hidden;
  border-radius: 0;  
  margin-top: auto;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

/* Slider dots */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
.product{
  margin-top: auto;
}
