.rules-page {
  background: linear-gradient(to bottom, #fff2d6, #f7b85a);
  min-height: 100vh;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

/* MAIN CARD */
.rules-card {
  width: 90%;
  background: white;
  border: 2px solid #7a1c1c;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.rules-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.rules-title {
  font-size: 32px;
  font-weight: bold;
  color: #7a1c1c;
}

/* SECTIONS */
.rules-section {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: #7a1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.toggle-icon {
  font-weight: bold;
  font-size: 20px;
  color: #b23131;
}

.section-content {
  margin-top: 10px;
  padding-left: 20px;
}

.section-content p,
.section-content li {
  font-size: 15px;
  color: #3b1a0a;
  line-height: 1.6;
}

.section-content ul {
  padding-left: 20px;
  margin-top: 5px;
}
