body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  height: 100vh;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* right white panel */
}
